@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: url("bodybg.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
}

header {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  background-color: #28104ed3;
  color: #deacf5;
  position: relative;
  position: fixed;
  z-index: 1;
}
.logo {
  font-size: 25px;
  font-weight: bold;
}

.burger-icon {
  display: none;
}
.nav-bar {
  display: flex;
  width: max-content;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 30px;
  cursor: pointer;
  position: relative; /* Add position relative to the list items */
}

.active {
  font-weight: bold;
}

nav ul li .active::after {
  visibility: visible; /* Make the line visible for active */
}

nav ul li.active::after,
nav ul li:hover::after {
  visibility: visible; /* Make the line visible on hover and for active */
  width: 90%; /* Stretch the line to full width on hover and for active */
}

nav ul li.active::after {
  visibility: visible; /* Make the line visible for active */
}

nav ul li::after {
  content: ""; /* Create a pseudo-element */
  position: absolute; /* Position it absolutely */
  left: 0; /* Position it at the right edge of the list item */
  bottom: -5px; /* Position it slightly below the bottom of the list item */
  width: 0%; /* Initially set width to 0 */
  height: 2px; /* Set the height of the line */
  background-color: #deacf5; /* Set the color of the line */
  visibility: hidden; /* Hide the line by default */
  transition: all 0.3s ease; /* Add a transition effect for smooth animation */
}

nav ul li:hover::after {
  visibility: visible; /* Make the line visible on hover */
  width: 90%; /* Stretch the line to full width on hover */
}

.main-sec:not(.active) {
  display: none;
}

.main-sec:not(#home) {
  display: none;
}

.shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  cursor: pointer;
}

.shadow__btn {
  background: rgb(0, 140, 255);
  box-shadow: 0 0 25px rgb(0, 140, 255);
}

.btn2 {
  margin-left: 20px;
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 25px rgb(0, 140, 255),
    0 0 50px rgb(0, 140, 255), 0 0 100px rgb(0, 140, 255);
}

.main-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  font-size: 54px;
  width: 100%;

  font-weight: bold;
  text-align: center;
}

#home {
  background-color: rgba(18, 7, 34, 0.774);
}

.quote-section {
  margin-top: 2cm;
  margin-bottom: 0;

  padding: 20px 20px;
  display: flex;
  flex-direction: row;
}

.quote-mark {
  margin-left: 6px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  text-align: start;
}

.logo-text {
  display: flex;
  align-self: start;
}

.logo-text-sub {
  font-size: 14px;
  font-weight: 300;
  display: flex;
  align-self: start;
}

#feed {
  display: flex;
  justify-content: start;
  height: 250vh;
  color: white;
  font-size: 68px;
  width: 100%;
  font-weight: bold;
  text-align: center;
  background-color: rgb(72, 66, 82);
}

.post-content {
  margin-top: 3cm;
  height: 100vh;
  width: 95%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  justify-content: space-around;
}

.row {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-card {
  width: 23.5%;
  height: 95%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.post-card .quote {
  width: 100%;
  height: 89%;

  padding-left: 20px;
  padding-right: 20px;
  font-size: 33px;
  text-align: center;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  background: url("sunsetbg.JPG") no-repeat;
  background-size: cover;
  background-position: center;
  text-shadow: 0 0 10px #2b2b2b, 0 0 20px #2b2b2b, 0 0 30px #2b2b2b;
}
.post-card .qbg {
  background: url("sunsetbg.JPG") no-repeat;
  background-size: cover;
  background-position: center;
}
.post-card .qbg1 {
  background: url("sunsetbg.JPG") no-repeat;
  background-size: cover;
  background-position: center;
}
.post-card .user-sec {
  width: 100%;
  height: 11%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(235, 235, 235);
  backdrop-filter: blur(3px);
  color: rgb(36, 36, 36);
}

.user-icon ion-icon {
  font-size: 32px;
}

.user-sec .user-icon {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.user-sec .jessa-icon {
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background: url("jp.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-sec .user-name {
  text-align: center;
  width: 84%;
  height: 100%;

  font-size: 18px;
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: start;
  font-weight: 400;
  padding-left: 10px;
}

#post {
  display: flex;
  justify-content: center;
  height: 100vh;
  color: white;
  font-size: 68px;
  width: 100%;
  font-weight: bold;
  text-align: center;
  align-items: center;
  background-color: rgba(18, 7, 34, 0.774);
}

.post-container {
  margin-top: 3cm;
  width: 60%;
  padding: 40px;
  border-radius: 10px;
  background-color: white;
  color: rgb(226, 226, 226);
  display: flex;
  flex-direction: column;
  border: none;
}

.input-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 70%;
  border-radius: 20px;
}

#text-box {
  margin-top: 20px;
  width: 100%;
  height: 190px;
  padding: 15px;
  border-radius: 15px;
}

#post-button {
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 15px;
  width: 104%;
  height: 50px;
  background-color: #5a105a;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  transition: 0.5s;
}
.input-area input {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid gray;
}

#post-button:hover {
  background-color: rgb(52, 158, 52);
}

#post-button:active {
  background-color: white;
}

#about {
  display: flex;
  justify-content: center;
  color: rgb(178, 108, 180);
  font-size: 68px;
  width: 100%;
  font-weight: bold;
  text-align: center;
  background-color: rgba(18, 7, 34, 0.774);
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.about-container {
  margin-top: 3cm;
  height: 60vh;
  width: max-content;
  background-color: rgb(245, 245, 245);
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 15px;
}

.img-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: 100%;
}

.img-section img {
  width: 50vh;
  border-radius: 12px;
}
.img-section img:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.text-section {
  font-size: 11px;
  height: 40vh;
  width: 60vh;

  padding: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.text-h1 {
  text-align: start;
  font-size: 44px;
  font-weight: bold;
  color: #40005e;
}

.text-sub {
  text-align: start;
  padding-top: 20px;

  font-size: 13.6px;
  color: rgb(61, 61, 61);
  font-weight: 500;
}

#contact {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 68px;
  width: 100%;
  font-weight: bold;
  text-align: center;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(18, 7, 34, 0.774);
}

.contact-container {
  margin-top: 3cm;
  background: white;
  width: 60%;
  height: 65vh;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.socials {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
}

.socials ion-icon {
  font-size: 40px;
  color: #34004d;
}
.socials ion-icon:hover {
  opacity: 0.6;
}

.form {
  width: 79%;
  height: 91%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 22px;
  padding: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

.contact-h1 {
  font-size: 48px;
  height: 8vh;
  width: 100%;
  color: #34004d;
  display: flex;
  align-items: center;
  justify-content: start;
}

.email-input {
  margin-top: 20px;
  width: 100%;
}

.message-input {
  margin-top: 20px;
  width: 100%;
}

.send-btn {
  margin-top: 20px;
  width: 100%;
}

.send-btn button {
  width: 99%;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.send-btn button {
  background: rgb(0, 140, 255);
  box-shadow: 0 0 25px rgb(0, 140, 255);
}

.btn2 {
  margin-left: 20px;
}

.send-btn button:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 25px rgb(0, 140, 255),
    0 0 50px rgb(0, 140, 255), 0 0 100px rgb(0, 140, 255);
}

input,
textarea {
  width: 95%;
  padding: 7px 10px;
  border: 1px solid gray;
  border-radius: 7px;
}

.line {
  height: 80%;
  width: 1px;
  background-color: rgb(148, 148, 148);
}

.email-class {
  height: 5vh;
}

.text-class {
  height: 20vh;
}

@media only screen and (max-width: 800px) {
  header {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    background-color: #28104ef1;
    color: #deacf5;
    position: relative;
  }

  #burger {
    font-size: 14px;
    position: fixed; /* Make the burger icon position fixed */
    top: 20px; /* Adjust top position as needed */
    left: 0; /* Adjust left position as needed */
    width: 35px;
    height: max-content;
    display: flex;
    align-items: start;
    justify-content: center;
    z-index: 4; /* Ensure the burger icon is above other elements */
    cursor: pointer; /* Provide a cursor pointer for better UX */
  }

  #burger ion-icon {
    font-size: 14px;
    color: #28104ef1;
    background-color: #deacf5;
    height: 35px;
    width: 35px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  #burger:hover ion-icon {
    transform: scale(1.05);
    box-shadow: 0 0 5px #deacf5, 0 0 25px #deacf5, 0 0 50px #deacf5,
      0 0 100px #deacf5;
  }

  #burger:active ion-icon {
    background-color: white;
  }

  .nav-bar {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: none;
    height: 100vh;
    transition: left 0.3s ease; /* Smooth transition for left property */
    width: 50%;

    left: -50%; /* Initially hide the navbar to the left */

    top: 0;

    z-index: 3;
    align-items: center;
    justify-content: center;
  }

  nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    color: #deacf5;
    background-color: #28104e;
  }

  nav ul li {
    list-style: none;
    margin-right: 30px;
    cursor: pointer;
    position: relative; /* Add position relative to the list items */
  }

  .home-buttons {
    width: 100%;
    height: 20%;
  }

  .shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
    background-color: green;
  }

  .shadow__btn {
    background: rgb(0, 140, 255);
    box-shadow: 0 0 25px rgb(0, 140, 255);
  }

  .btn2 {
    margin-left: 20px;
  }

  .shadow__btn:hover {
    box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 25px rgb(0, 140, 255),
      0 0 50px rgb(0, 140, 255), 0 0 100px rgb(0, 140, 255);
  }

  .main-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 88vh;
    color: white;
    font-size: 0;
    width: 100%;
    background-color: rgba(40, 16, 78, 0.521);
    font-weight: bold;
    text-align: center;
  }

  #home {
    background-color: rgba(18, 7, 34, 0.774);
  }

  body {
    background: url("bodybg.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
  }

  .quote-section {
    margin-bottom: 0px;
    height: 20%;
    width: 100%;
    font-size: 26px !important;

    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .quote-mark {
    margin-left: 6px;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    text-align: start;

    font-size: 18px;
    font-weight: bold;
  }

  .logo-text {
    display: flex;
    align-self: start;
  }

  .logo-text-sub {
    font-size: 12px;
    font-weight: 300;

    display: flex;
    align-self: start;
  }

  /*Feed Section*/

  #feed {
    display: flex;
    justify-content: start;
    height: 250vh;
    color: white;
    font-size: 68px;
    width: 100%;
    font-weight: bold;
    text-align: center;
  }

  .post-content {
    margin-top: 39px;
    height: 200vh;
    width: 95%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: space-around;
  }

  .row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    gap: 20px;
  }

  .post-card {
    width: 90%;
    height: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: red;
  }

  .post-card .quote {
    width: 100%;
    height: 89%;

    padding-left: 20px;
    padding-right: 20px;
    font-size: 33px;
    text-align: center;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    background: url("sunsetbg.JPG") no-repeat;
    background-size: cover;
    background-position: center;
    text-shadow: 0 0 10px #2b2b2b, 0 0 20px #2b2b2b, 0 0 30px #2b2b2b;
  }
  .post-card .qbg {
    background: url("sunsetbg.JPG") no-repeat;
    background-size: cover;
    background-position: center;
  }
  .post-card .qbg1 {
    background: url("sunsetbg.JPG") no-repeat;
    background-size: cover;
    background-position: center;
  }
  .post-card .user-sec {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(235, 235, 235);
    backdrop-filter: blur(3px);
    color: rgb(36, 36, 36);
  }

  .user-icon ion-icon {
    font-size: 32px;
  }

  .user-sec .user-icon {
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .user-sec .jessa-icon {
    margin-left: 5px;
    width: 26px;
    height: 26px;
    background: url("jp.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .user-sec .user-name {
    text-align: center;
    width: 84%;
    height: 100%;

    font-size: 18px;
    margin: auto 0;
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 400;
    padding-left: 10px;
  }

  #post {
    display: flex;
    justify-content: center;
    height: 90vh;
    color: white;
    font-size: 68px;
    width: 100%;
    font-weight: bold;
    text-align: center;
    align-items: center;
    background-color: rgba(18, 7, 34, 0.774);
  }

  .post-container {
    margin-top: 0;
    height: 60%;
    width: 90%;
    padding: 40px;
    border-radius: 10px;
    background-color: white;
    color: rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    border: none;
  }

  .input-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80%;
    border-radius: 20px;
  }

  #text-box {
    margin-top: 20px;
    width: 100%;
    height: 200px;
    padding: 15px;
    border-radius: 15px;
  }

  #post-button {
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px;
    width: 104%;
    height: 50px;
    background-color: #5a105a;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    transition: 0.5s;
  }
  .input-area input {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid gray;
  }

  #post-button:hover {
    background-color: rgb(52, 158, 52);
  }

  #post-button:active {
    background-color: white;
  }

  #about {
    padding-top: 30px;
    display: flex;
    justify-content: start;
    color: rgb(178, 108, 180);
    font-size: 68px;
    width: 100%;
    font-weight: bold;
    text-align: center;
    background-color: rgba(18, 7, 34, 0.918);

    height: 160vh;
  }

  .about-container {
    margin-top: 0;
    height: max-content;
    width: 90%;
    background-color: rgb(245, 245, 245);
    color: black;
    display: flex;

    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 12px;
    border-radius: 10px;
  }

  .img-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 100%;
    width: 100%;
    padding: 12px;
  }

  .img-section img {
    width: 100%;
    border-radius: 12px;
  }
  .img-section img:hover {
    transform: scale(1.05);
    transition: 0.5s;
  }

  .text-section {
    font-size: 11px;
    height: 100%;
    width: 100%;

    padding: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .text-h1 {
    text-align: center;
    font-size: 44px;
    font-weight: bold;
    color: #40005e;
  }

  .text-sub {
    text-align: start;
    padding-top: 20px;

    font-size: 15px;
    color: rgb(61, 61, 61);
    font-weight: 500;
  }

  /*contact section*/

  #contact {
    display: flex;
    justify-content: start;
    color: white;
    font-size: 68px;
    width: 100%;
    font-weight: bold;
    text-align: center;
  }

  #contact {
    height: 88vh;
    background-color: rgba(18, 7, 34, 0.774);
  }

  .contact-container {
    padding: 10px;
    margin-top: 1cm;
    background: white;
    width: 90%;
    height: max-content;
    border-radius: 12px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .socials {
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    padding-top: 0;
    padding-bottom: 0;
  }

  .socials ion-icon {
    font-size: 25px;
    color: #34004d;
  }
  .socials ion-icon:hover {
    opacity: 0.6;
  }

  .form {
    width: 90%;
    height: 91%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
    padding: 00px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .contact-h1 {
    font-size: 32px;
    height: 8vh;
    width: 100%;
    color: #34004d;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .email-input {
    margin-top: 20px;
    width: 100%;
  }

  .message-input {
    margin-top: 20px;
    width: 100%;
  }

  .send-btn {
    margin-top: 20px;
    width: 100%;
  }

  .send-btn button {
    width: 99%;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
  }

  .send-btn button {
    background: rgb(0, 140, 255);
    box-shadow: 0 0 25px rgb(0, 140, 255);
  }

  .btn2 {
    margin-left: 20px;
  }

  .send-btn button:hover {
    box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 25px rgb(0, 140, 255),
      0 0 50px rgb(0, 140, 255), 0 0 100px rgb(0, 140, 255);
  }

  input,
  textarea {
    width: 100%;
    padding: 7px 10px;
    border: 1px solid gray;
    border-radius: 7px;
  }

  .line {
    height: 0;
    width: 80%;
    background-color: rgb(148, 148, 148);
  }

  .email-class {
    height: 5vh;
  }

  .text-class {
    height: 20vh;
  }
}
